body{
    background: linear-gradient(to bottom, #ffffff 0%, #669999 100%);
}
.bg{
    background:url(img/fondo.png ) no-repeat ;
    background-position:  center center;
   
}
h2{
    color:#3366cc;

}
.e,.i{
    color: white;
}