
*{
    color: white;
}
body{
    background: white;
}
.bg{
    background:url(img/fondo.png ) no-repeat ;
    
    background-position:  center center;
   
}
h2{
    color:#3366cc;

}
.e,.i{
    color: white;
}
.menu{
background: #B8BCCA;
}
